html{
  font-size: 100%
}
body{
background-color: #000000;
}
.firstBackground{
  background-image: url("../images/girlphoto.jpg");
  height: 100%;
  background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  margin:0;
}
p{
  color:#ffffff;
}

#opening{
  text-shadow: 3px 3px black;
  font-size: 60px;
  color: #FF0000;
  font-family: 'Unlock', cursive;
  text-align: center;
  padding-top: 30px;
}
#subheading{
  display: flex;
  background-color:#505050;
  color: #ffffff;
  margin: auto;
  justify-content: center;
  max-width: 50%;
  font-size: 25px;
  font-style: oblique;
  font-weight: 900;
}
.begin{
  margin: auto;
  margin-top: 25px;
  display: flex;
  background-color:#e60000;
  color:#ffffff;
  border-radius: 25px;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
#intro{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 40px;
  justify-content: center;
}
/*For previous and next button*/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: auto;

}


a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  position: fixed;
   bottom: 21px;
   left: 25px;
}

.next {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  position: fixed;
   bottom: 21px;
   right: 25px;
}

.round {
  border-radius: 50%;
}
